/* This is for aside tag  */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(254, 254, 254);
}

.voice-assistant {
    position: relative;
    width: 100px;
    height: 100px;
}

.icon {
    width: 100%;
    height: 100%;
    background-color: #ec3faa;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    animation: pulse 2s infinite;
}

.wave {
    position: absolute;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: wave 3s infinite;
}

.wave1 {
    animation-delay: 0s;
}

.wave2 {
    animation-delay: 1s;
}

.wave3 {
    animation-delay: 2s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes wave {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Second wave aside tag */
.voice-assistant {
    margin-left: 20px;
    position: relative;
    width: 100px;
    height: 100px;
}

.icon-1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #5216ac, #21085c);
    /* Gradient green */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    animation: pulse 2s infinite ease-in-out;
    box-shadow: 0 0 20px rgba(41, 22, 164, 0.6), 0 0 40px rgba(76, 55, 110, 0.4);
    /* Glow effect */
}

.voice-wave {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(205, 16, 183, 0.6);
    /* Semi-transparent green */
    border-radius: 50%;
    animation: moveWave 3s infinite ease-in-out;
}

.voice-wave:nth-child(1) {
    animation-delay: 0s;
}

.voice-wave:nth-child(2) {
    animation-delay: 1s;
}

.voice-wave:nth-child(3) {
    animation-delay: 2s;
}

.text-output {
    margin-top: -50px;
    margin-left: 180px;
    position: relative;
    font-size: 24px;
    color: rgb(0, 0, 0);
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
}

.text-demo {
    /* margin-top: -50px; */
    /* margin-left: 180px; */
    position: relative;
    font-size: 24px;
    color: rgb(0, 0, 0);
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes moveWave {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateX(200px) scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: translateX(400px) scale(0);
        opacity: 0;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    /* background-color: white; */
    /* background: linear-gradient(45deg, #E402D6, #bdaa9b, #86a8e7, #7f7fd5); */
    /* background: linear-gradient(180deg, #5690FF 0, #387DFF 100%) no-repeat;
    box-shadow: 0 3px 9px rgba(56, 125, 255, .2);
    border-radius: 10px;
    color: #FFF; */
    background: linear-gradient(180deg, #f8f8f8, #fff, #b6becd 100%);
}

.parent {
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

.left-section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 20px;
}

.left-section h2 {
    font-size: 55px;
    padding: 6px 0px;
}

.left-section h1 {
    font-size: 60px;
    padding: 6px 0px;
    font-weight: 700;
}

.left-section span {
    color: blue;

    margin: 10px 0px;
}

.try-btn {
    background-image: linear-gradient(324deg, #a000ff, #ff006f);
    padding: 20px 40px;
    border: none;
    width: 72%;
    margin: 10px 0px;
    border-radius: 50px;
    color: white;
    font-size: 22px;
}


.left-section h3 {
    font-size: 30px;
    padding: 6px 0px;
    background: linear-gradient(to right, #f30dff, #f17516);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resp-arrow {
    height: 20px;
    width: 20px;
}

.left-section p {
    padding: 6px 0px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    width: 70%;
}

.left-section h5 {
    padding: 0px 0px;
    font-size: 18px;
    font-weight: 400;
}

.left-section h4 {
    font-size: 18px;
    padding: 8px 0px;
}

.left-section .star {
    text-align: center;
}

.left-section .star img {
    height: 22px;
}


.left-section .playStore .img-1 {
    height: auto;
    width: 30%;
    margin: 10px 10px;
}

.left-section .playStore .img-2 {
    height: auto;
    width: 30%;
    margin: 10px 0px;
}

/* Right section */

.right-section {
    text-align: center;
    box-shadow: 4px 6px 8px 0.2;
    background-color: white;
    border: 1px solid rgba(83, 25, 34, 0.481);
    border-radius: 40px;
}

.right-section h3 {
    font-size: 28px;
    padding-bottom: 17px;
}

.line-s {
    height: auto;
    width: 70%;
    padding: 40px 0px;
    background-color: aliceblue;
    border-radius: 30px;
    background: white;
    /* linear-gradient(to right, #ff7e5f, #feb47b) */
}

.line-s h1 {
    background-color: blue;
    height: 3px;
    width: 100%;
}

.play {
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.play img {
    width: 45px;
    height: 30x;
    text-align: center;
    align-items: center;
    background-color: #b180ce;
    border-radius: 100%;
    padding: 10px;
}


.voice {
    width: 100%;
    height: 100%;
}

.voice img {
    height: 100px;
    text-align: center;
    align-items: center;
    background-color: #e402a8;
    border-radius: 100%;
    padding: 30px;
}

.voice img:hover {
    height: 120px;
    text-align: center;
    align-items: center;
    background-color: #da3baf;
    border-radius: 100%;
    padding: 30px;
    transition: 0.5s;
}

.btn-continue {
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(105, 105, 186);
}

.btn-continue:hover {
    background-color: rgb(18, 18, 59);
    color: white;
}

.btn-continue img {
    height: 20px;
    width: 30px;
}

.last-content {
    font-size: 18px;
    font-weight: 400;
    color: #575359;

}

.last-content img {
    height: 20px;
    border-radius: 40px;
    background-color: #2e163a;
}

/* image slider */
@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.image-slider img {
    animation: colorChange 2s infinite alternate ease-in-out;
    background-color: rgb(14, 159, 14);
}

.image-slider {
    display: flex;
    width: max-content;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;
    color: white;
}

.image-wrapper img {
    margin: 0px 40px;
}


/* For responsive left section home */
@media (max-width: 993px) {
    .left-section {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5px 10px;
    }

    .left-section h2 {
        font-size: 30px;
        padding: 3px 0px;
    }

    .left-section span {
        color: blue;
        font-weight: 700;
        margin: 5px 0px;
    }

    .try-btn {
        background-image: linear-gradient(324deg, #a000ff, #ff006f);
        padding: 10px 30px;
        border: none;
        width: 100%;
        margin: 5px 0px;

    }

    .left-section h3 {
        padding: 2px 0px;
        background: linear-gradient(to right, #f30dff, #f17516);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .left-section p {
        padding: 3px 0px;
        font-size: 14px;
        font-weight: 400;
        color: rgb(110, 107, 107);
        width: 100%;
    }

    .left-section .star {
        text-align: center;
    }

    .left-section .star img {
        height: 15px;
    }

    @media (max-width: 460px) {
        .parent {
            width: 100%;
            margin: 0 auto;
            padding: 0px 0px;
        }

        .left-section {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 2px 4px;
        }

        .left-section h2 {
            font-size: 25px;
            padding: 0px 0px;
        }


    }

    /* for right section */
    @media (max-width: 993px) {

        .right-section {
            width: 100%;
            margin-top: 40px;
            text-align: center;
            box-shadow: 4px 6px 8px 0.2;
            background-color: white;
            border: 1px solid rgb(94, 94, 211);
            border-radius: 40px;
        }

        .right-section h3 {
            font-size: 28px;
            padding-bottom: 17px;
        }

        .line-s {
            height: auto;
            width: 100%;
            padding: 70px 0px;
            background-color: aliceblue;
            border-radius: 30px;
        }

        .line-s img {
            height: 40px;
            width: 40px;
        }

        .play {
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 30px;
        }

        .play img {
            width: 45px;
            height: 30x;
            text-align: center;
            align-items: center;
            background-color: #b180ce;
            border-radius: 100%;
            padding: 10px;
        }


        .voice {
            width: 100%;
            height: 100%;
        }

        .voice img {
            height: 100px;
            text-align: center;
            align-items: center;
            background-color: #e402a8;
            border-radius: 100%;
            padding: 30px;
        }

        .voice img:hover {
            height: 120px;
            text-align: center;
            align-items: center;
            background-color: #da3baf;
            border-radius: 100%;
            padding: 30px;
            transition: 0.5s;
        }

        .btn-continue {
            padding: 10px 20px;
            border-radius: 50px;
            background-color: rgb(105, 105, 186);
        }

        .btn-continue:hover {
            background-color: rgb(18, 18, 59);
            color: white;
        }

        .btn-continue img {
            height: 20px;
            width: 30px;
        }

        .last-content {
            font-size: 18px;
            font-weight: 400;
            color: #575359;
        }

        .last-content img {
            height: 20px;
            border-radius: 40px;
            background-color: #2e163a;
        }

        .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .image-wrapper img {
            margin: 0px 40px;
        }
    }

    @media (max-width: 360px) {
        .play {
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 25px;
        }

        .play img {
            width: 40px;
            height: 40px;
            padding: 10px;
        }

        .voice img {
            height: 90px;
            padding: 20px;
        }

        .voice img:hover {
            height: 100px;
            padding: 20px;
            transition: 0.5s;
        }

        .btn-continue {
            color: white;
            padding: 10px 20px;
            border-radius: 50px;
            background-color: rgb(105, 105, 186);
        }

        .btn-continue:hover {
            background-color: rgb(18, 18, 59);
            color: white;
        }

        .btn-continue img {
            height: 20px;
            width: 30px;
        }

        .last-content {
            font-size: 18px;
            font-weight: 400;
            color: #575359;
        }

        .last-content img {
            height: 20px;
            border-radius: 40px;
            background-color: #2e163a;
        }

        .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .image-wrapper img {
            margin: 0px 40px;
        }
    }
}

/* THis is for section */
.zoom-out {
    transform: scale(0.2);
    opacity: 0.5;
    /* width: 20%; */
    /* height: 250px; */
    transition: transform 0.8s ease-in, opacity 0.8s ease-in, width 0.8s ease-in, height 0.8s ease-in;
}

.zoom-out.visible {
    transform: scale(1);
    opacity: 1;
    /* width: 33%; */
    /* height: auto; */
}

.section-wrapper {
    background-color: rgb(240, 243, 243);
}

.section-wrapper-parent {
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.box-1 {
    box-shadow: 2px 2px 2px 0.5;
    border: 1px solid rgb(253, 253, 253);
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.box-1:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #a000ff;
    color: white;
}

.box-1 p:hover {
    color: white;
}

/* @keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.box-1 h3 {
    font-weight: 500;
    font-size: 25px;
}

.box-1 p {
    color: #787779;
} */

/* for responsive */
@media (max-width: 360px) {
    .section-wrapper-parent {
        padding: 0px 5px;
        padding: 5px 10px;
    }

    .box-1 {
        padding: 0 auto;
        /* padding: 15px 25px; */
        border-radius: 20px;
        margin: 5px 0px;
        opacity: 0;
        animation: fadeIn 2s forwards;
    }
}

/* Section second  */
.second-wrapper {
    background-color: azure;
}

.box-2 {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(220, 216, 216);
    box-shadow: 2px 2px 3px;
    margin-bottom: 20px;
}

.box-2:hover {
    background-color: azure;
}

.box-right h4 {
    font-size: 20px;
    font-weight: 500;
}

.box-right p {
    color: #2e2d2f;
}

.box-center {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(137, 183, 214);
    box-shadow: 2px 2px 3px;
    margin-bottom: 20px;
}

.box-right-section {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.box-right-section:hover {
    width: auto;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.box-right-section img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2);
}

.box-right-section img {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.sumrise-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.sub-wrapper {
    align-items: center;
    text-align: center;
    margin: 10px 40px;
}

/* chose your plan */

.third-section-back {
    background-color: rgb(241, 236, 236);
}

.price-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-price-middle {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.btn-price {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 0.5;
    border: none;
}

/* free plan  */
.free-plan {
    text-align: start;
    padding: 30px 20px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 3px 4px 5px;
    border-radius: 20px;
}

.free-plan:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.free-plan h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0px;
}

.free-plan h5 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}

.free-plan h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}

.price-btn-free {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.price-btn-premium {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
}

.price-btn-premium:hover {
    background-color: black;
    color: white;
}

.price-btn-free:hover {
    background-color: rgb(191, 21, 154);
    color: white;
}

.check-price {
    margin-top: 1px;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.check-price img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.check-price p {
    margin-top: 15px;
}

/* premium plan */
.premium-plan {
    text-align: start;
    padding: 30px 20px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 3px 4px 5px;
    border-radius: 20px;
}

.premium-plan {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.premium-plan h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0px;
}

.premium-plan h5 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}

.premium-plan h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}

.price-btn-free {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.price-btn-free:hover {
    background-color: rgb(191, 21, 154);
    color: white;
}

.check-price {
    margin-top: 1px;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.check-price img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.check-price p {
    margin-top: 15px;
}

/*  */
.try-button-services {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #da3baf;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.try-button-services:hover {
    background-color: blue;
    color: white;

}

.testimonials {
    background-color: azure;
}

.testimonials h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 1.8;
}

@media(max-width: 985px) {
    .testimonials {
        text-align: center;
    }

    .testimonials h2 {
        font-size: 34px;
        font-weight: 600;
        line-height: 1.8;
    }
}

@media(max-width: 500px) {
    .testimonials h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.8;
    }
}

.testimonials h5 {
    padding: 10px 0px;
    line-height: 5px;
}

.testimonials p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 20px;
}

/* Testimonials */
.card-wraper {
    background-color: azure;
}

.test-img {
    border: 1px solid rgb(176, 170, 170);
}

/* FAQ section */
.faq-section {
    border: 1px solid rgb(188, 188, 188);
    padding: 10px 20px;
    box-shadow: 1px 1px 1px 0.5;
}

.faq-section .head-text-faq {
    font-size: 26px;
}

.faq-section h2 {
    font-size: 2rem;
    font-weight: 500;
}

.faq-p {
    padding: 10px 100px;
    font-size: 19px;
    color: rgb(86, 82, 82);
}

.faq-btn button {
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    background-color: #a000ff;
    color: white;
}

.faq-btn button:hover {
    background-color: black;
    color: white;
    border-color: #a000ff;
}

@media(max-width: 768px) {
    .faq-p {
        padding: 0px 10px;
        font-size: 19px;
        color: rgb(86, 82, 82);
    }
}

/* THis is for card slide  */
.card-slide {
    border-radius: 20px;
}

.card-slide img {
    height: auto;
    width: 100%;
}

/* test client */
.content-client {}

/* footer dark */
.footer-color {
    background: linear-gradient(180deg, #f8f8f8, #fff, #b6becd 100%);
}